name: flutterwanandroid
description: "A new Flutter project."

version: 1.0.0+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8

  intl: any

  # 网络请求
  retrofit: 4.8.0
  dio: ^5.0.0
  json_annotation: ^4.8.0
  build_runner: ^2.3.0
  json_serializable: ^6.6.1
  retrofit_generator: ^8.2.1


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0


flutter:

  uses-material-design: true
  generate: true



